.imperio {
    background-color: red;
}

.rebeldes {
    background-color: blue;
}

#DarthVader {
    font-size:large;
}

#Luke {
    font-style: italic;
}

.soldado {
  /* necesita una definición de ancho y estilo de borde base */
  letter-spacing:2px;
  border: 8px solid transparent;          /* ancho obligatorio para que se vea el border-image */
  border-image: repeating-linear-gradient(
    45deg,
    #222 0 12px,        /* franja oscura */
    #fff 12px 24px      /* franja clara */
  ) 1;                 /* el "1" es el border-image-slice por defecto para gradientes */
  border-radius: 6px;  /* opcional, para esquinas redondeadas */
  padding: 8px 12px;
  display: inline-block;
}

.apoyo {
    text-align: center;
}

.nave {
    text-transform: uppercase;
}